--- 
recorded_with: VCR 2.2.4
http_interactions: 
- request: 
    method: get
    uri: https://api.github.com/users/rossta
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      etag: 
      - "\"273496f438b2eeed19fb151dc969a9b5\""
      x-ratelimit-limit: 
      - "5000"
      last-modified: 
      - Sun, 05 Aug 2012 18:48:05 GMT
      content-type: 
      - application/json; charset=utf-8
      x-ratelimit-remaining: 
      - "4993"
      status: 
      - 200 OK
    body: 
      string: "{\"created_at\":\"2008-05-27T18:27:16Z\",\"type\":\"User\",\"blog\":\"http://www.rosskaff.com\",\"login\":\"rossta\",\"public_repos\":38,\"followers\":13,\"html_url\":\"https://github.com/rossta\",\"email\":\"rosskaff@gmail.com\",\"following\":23,\"location\":\"New York City\",\"company\":\"http://www.challengepost.com\",\"gravatar_id\":\"b0169a78f851962058d63337ad0147d6\",\"name\":\"Ross Kaffenberger\",\"hireable\":false,\"url\":\"https://api.github.com/users/rossta\",\"public_gists\":16,\"id\":11673,\"bio\":null,\"avatar_url\":\"https://secure.gravatar.com/avatar/b0169a78f851962058d63337ad0147d6?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png\"}"
  recorded_at: Tue, 21 Aug 2012 20:22:34 GMT
[...]
- request: 
    method: get
    uri: https://api.github.com/orgs/challengepost/members
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      etag: 
      - "\"a15607b962c849a75315fa5d68d6c4bb\""
      last-modified: 
      - Tue, 21 Aug 2012 18:19:04 GMT
      x-ratelimit-limit: 
      - "5000"
      content-type: 
      - application/json; charset=utf-8
      x-ratelimit-remaining: 
      - "4991"
      status: 
      - 200 OK
[...]
