--- 
recorded_with: VCR 2.2.4
http_interactions: 
- request: 
    method: get
    uri: https://api.github.com/users/rossta
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      etag: 
      - "\"273496f438b2eeed19fb151dc969a9b5\""
      x-ratelimit-limit: 
      - "5000"
      last-modified: 
      - Sun, 05 Aug 2012 18:48:05 GMT
      content-type: 
      - application/json; charset=utf-8
      x-ratelimit-remaining: 
      - "4994"
      status: 
      - 200 OK
    body: 
      string: "{\"type\":\"User\",\"bio\":null,\"avatar_url\":\"https://secure.gravatar.com/avatar/b0169a78f851962058d63337ad0147d6?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png\",\"public_repos\":38,\"following\":23,\"location\":\"New York City\",\"created_at\":\"2008-05-27T18:27:16Z\",\"company\":\"http://www.challengepost.com\",\"gravatar_id\":\"b0169a78f851962058d63337ad0147d6\",\"login\":\"rossta\",\"public_gists\":16,\"blog\":\"http://www.rosskaff.com\",\"email\":\"rosskaff@gmail.com\",\"name\":\"Ross Kaffenberger\",\"url\":\"https://api.github.com/users/rossta\",\"hireable\":false,\"id\":11673,\"followers\":13,\"html_url\":\"https://github.com/rossta\"}"
  recorded_at: Tue, 21 Aug 2012 15:42:28 GMT
