---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/orgs/challengepost/members/rossta?client_id=65c6c34afdfc113d4698&client_secret=59c44f344f9c45b4f15b03935bb2cc0501d40e46
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      content-type:
      - text/html;charset=utf-8
      status:
      - 302 Found
      x-ratelimit-limit:
      - '5000'
      x-ratelimit-remaining:
      - '4953'
      x-ratelimit-reset:
      - '1397230923'
      location:
      - https://api.github.com/organizations/199945/public_members/rossta
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 11 Apr 2014 14:53:29 GMT
- request:
    method: get
    uri: https://api.github.com/organizations/199945/public_members/rossta?client_id=65c6c34afdfc113d4698&client_secret=59c44f344f9c45b4f15b03935bb2cc0501d40e46
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      status:
      - 204 No Content
      x-ratelimit-limit:
      - '5000'
      x-ratelimit-remaining:
      - '4952'
      x-ratelimit-reset:
      - '1397230923'
      x-github-media-type:
      - github.beta; format=json
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Fri, 11 Apr 2014 14:53:29 GMT
- request:
    method: get
    uri: https://api.github.com/users/rossta?client_id=65c6c34afdfc113d4698&client_secret=59c44f344f9c45b4f15b03935bb2cc0501d40e46
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '5000'
      x-ratelimit-remaining:
      - '4951'
      x-ratelimit-reset:
      - '1397230923'
      last-modified:
      - Thu, 10 Apr 2014 22:40:18 GMT
      etag:
      - '"f8ff49c31bbe1a197e2fbbbb86ad5eda"'
      x-github-media-type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: '{"login":"rossta","id":11673,"avatar_url":"https://avatars.githubusercontent.com/u/11673?","gravatar_id":"b0169a78f851962058d63337ad0147d6","url":"https://api.github.com/users/rossta","html_url":"https://github.com/rossta","followers_url":"https://api.github.com/users/rossta/followers","following_url":"https://api.github.com/users/rossta/following{/other_user}","gists_url":"https://api.github.com/users/rossta/gists{/gist_id}","starred_url":"https://api.github.com/users/rossta/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/rossta/subscriptions","organizations_url":"https://api.github.com/users/rossta/orgs","repos_url":"https://api.github.com/users/rossta/repos","events_url":"https://api.github.com/users/rossta/events{/privacy}","received_events_url":"https://api.github.com/users/rossta/received_events","type":"User","site_admin":false,"name":"Ross
        Kaffenberger","company":"http://challengepost.com","blog":"http://rosskaff.com","location":"New
        York City","email":"rosskaff@gmail.com","hireable":false,"bio":null,"public_repos":62,"public_gists":27,"followers":20,"following":23,"created_at":"2008-05-27T18:27:16Z","updated_at":"2014-04-10T22:40:18Z"}'
  recorded_at: Fri, 11 Apr 2014 14:53:29 GMT
recorded_with: VCR 2.9.0
